#container{
  width: 100%;
  height: 700px;
}
#header{
  background-color: #FFA500;
  /* background-image: url('../img/header.jpg'); */
}
h1{
  margin-bottom: 0;
  text-align: center;
 
}
#menu{
  width: 340px;
  height: 600px;

  float: left;
}
/* #menu #left-top{
height: 200px;

} */
#menu #left-top{
  height:375px ;
  background-color:rgb(157, 169, 182);
  }
  #menu #left-bottom #tabel_group{
  width:100%;
  height: 300px;
}
#menu #left-bottom{
  height:225px ;
  width: 100%;
}

#tabel{
  width: 100%;
}
#tabel1{
  width: 100%;
}
#tabel2{
  width: 100%;
}
#tabel3{
  width: 100%;
}
#tabel4{
  width: 100%;
}
#tabel5{
  width: 100%;
}


#content{
  width: 1160px;
  height: 600px;
  float: left;
  background-color: #EEEEEE;

}
#footer{
  clear: both;
  text-align: center;
  background-color:#FFA500 ;
}

rect {
  fill: steelblue;
  fill-opacity: 0.8;
}
rect:hover {
  fill-opacity: 1;
}
.axis {
  font-size: smaller;
}

#scatter{
  width: 100%;
  height: 500px;
}

#bar1{
  display: flex;
  /* float: left; */
  /* margin-left: 20px; */
  width: 20 0px;
  height: 50px;
  margin-top: 12px;
}
#bar2{
  display: flex;
  /* float: left; */
  /* margin-left: 20px; */
  width: 250px;
  height: 50px;
  margin-top: 12px;
}
#bar3{
  display: flex;
  /* float: left; */
  /* margin-left: 20px; */
  width: 200px;
  height: 30px;
  margin-top: 12px;
}
#bar4{
  display: flex;
  /* float: left; */
  /* margin-left: 20px; */
  width: 200px;
  height: 30px;
  margin-top: 12px;
}
#bar5{
  display: flex;
  /* float: left; */
  /* margin-left: 20px; */
  width: 200px;
  height: 30px;
  margin-top: 12px;
}
p{
  display: flex;
  float: left;
  width: 80px;
}
img{
  width: 25px;
  height: 25px;
}
#streamgraph{
  width: 100%;
  height: 100%;
}